{% extends 'base.html' %}

{% block content %}
<h1>Trade Details {{trade.id}}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Instrument</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Adjusted Cost</th>
            <th>Adjusted Proceed</th>
            <th>Gross P&amp;L</th>
        </tr>
    </thead>
    <tbody>
        {% for order in trade.orders %}
        <tr>
            <td>{{ order.date_time }}</td>
            <td>{{ trade.instrument }}</td>
            <td>{{ order.quantity }}</td>
            <td>${{ order.price }}</td>
            <td>{% if order.is_buy_order() %}${{ order.adjusted_cost }}{% else %}--{% endif %}</td>
            <td>{% if order.is_sell_order() %}${{ order.adjusted_proceeds }}{% else %}--{% endif %}</td>
            <td>
                {% if order.is_sell_order() %}
                {% if order.gross_pnl %}
                <span style="color: {% if order.gross_pnl >= 0 %}green{% else %}red{% endif %}">${{ order.gross_pnl
                    }}</span>
                {% else %}
                --
                {% endif %}
                {% else %}
                --
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}