{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg">
        <div class="row">
            <div class="col">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h4>{{ trade.symbol }} {{ trade.instrument }}</h4>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#editTrade">
                            Edit Tags
                        </button>
                        <!-- Delete Setup Modal -->
                        <div class="modal fade" id="editTrade" tabindex="-1" aria-labelledby="editTradeModalLabe"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editTrade">
                                            Edit Trade</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% if trade.setups and trade.mistakes %}
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Setups</span>
                                                <span>
                                                    {% for setup in trade.setups %}
                                                    <span class="badge bg-primary">{{ setup.name }}</span>
                                                    {% endfor %}
                                                </span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Mistakes</span>
                                                <span>
                                                    {% for mistake in trade.mistakes %}
                                                    <span class="badge bg-danger">{{ mistake.name }}</span>
                                                    {% endfor %}
                                                </span>
                                            </li>
                                        </ul>
                                        <hr>
                                        {% endif %}
                                        <form id="editTradeForm" method="POST"
                                            action="{{ url_for('trades_bp.edit_trade', trade_id=trade.id) }}">
                                            {{ form.csrf_token }}
                                            <div class="form-group">
                                                <label for="setupSelect">Select Setups</label>
                                                <select class="form-control" id="setupSelect" name="setups" multiple>
                                                    {% for setup in user.setups %}
                                                    <option value="{{ setup.id }}" {% if setup in trade.setups
                                                        %}selected{% endif %}>
                                                        {{ setup.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                                <br>
                                                <label for="mistakeSelect">Select Mistakes:</label>
                                                <select class="form-control" id="mistakeSelect" name="mistakes"
                                                    multiple>
                                                    {% for mistake in user.mistakes %}
                                                    <option value="{{ mistake.id }}" {% if mistake in trade.mistakes
                                                        %}selected{% endif %}>
                                                        {{ mistake.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary btn-sm">Save
                                                Tags</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6>Portfolio: {{ trade.portfolio.name }}</h6>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                {% if trade.pnl >= 0 %}
                <h5 class="text-success font-weight-bold">NET P&L</h5>
                <h5 class="text-success font-weight-bold">${{ trade.pnl }}</h5>
                {% else %}
                <h5 class="text-danger font-weight-bold">NET P&L</h5>
                <h5 class="text-danger font-weight-bold">${{ trade.pnl }}</h5>
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <h5
                    class="{% if trade.pnl_percent >= 0 %}text-success{% else %}text-danger{% endif %} font-weight-bold">
                    Net ROI</h5>
                <h5
                    class="text-end {% if trade.pnl_percent >= 0 %}text-success{% else %}text-danger{% endif %} font-weight-bold">
                    {{ trade.pnl_percent }}%</h5>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Status</span>
                <span>
                    {% if trade.status == 'WIN' %}
                    <span class="badge bg-success">{{ trade.status }}</span>
                    {% elif trade.status == 'LOSS' %}
                    <span class="badge bg-danger">{{ trade.status }}</span>
                    {% else %}
                    <span class="badge bg-warning">{{ trade.status }}</span>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Current Price</span>
                <span>
                    {% if trade.current_price %}
                    <span>${{ trade.current_price }}</span>
                    {% endif %}
                    <span><i class="oi oi-pencil text-primary edit-current-price" data-bs-toggle="modal"
                            data-bs-target="#editCurrentPrice"></i></span>
                    <a href="{{ url_for('trades_bp.get_current_price_new', trade_id=trade.id) }}">
                        <span><i class="oi oi-reload text-primary"></i></span>
                    </a>

                    <!-- Edit Current Price -->
                    <div class="modal fade" id="editCurrentPrice" tabindex="-1" aria-labelledby="editCurrentPrice"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editCurrentPrice">Edit Current Price
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="editTradeForm" method="POST"
                                        action="{{ url_for('trades_bp.edit_current_price', trade_id=trade.id) }}">
                                        {{ form.csrf_token }}
                                        <div class="form-group">
                                            <label for="current_price">Current Price</label>
                                            <input class="form-control" type="text" id="current_price"
                                                name="current_price">
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary btn-sm">Save
                                            Current Price</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </li>
            {% if trade.current_price and trade.status == "OPEN" %}
            <li class="list-group-item d-flex justify-content-between">
                <span>Open P&L</span>
                <span>
                    {% if trade.open_pnl >= 0 %}
                    <span class="text-end text-success">${{ trade.open_pnl }} / {{ trade.open_pnl_percent
                        }}%</span>
                    {% else %}
                    <span class="text-end text-danger">${{ trade.open_pnl }} / {{ trade.open_pnl_percent
                        }}%</span>
                    {% endif %}
                </span>
            </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-between">
                <span>Setups</span>
                <span>
                    {% for setup in trade.setups %}
                    <span class="badge bg-primary">{{ setup.name }}</span>
                    {% endfor %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Mistakes</span>
                <span>
                    {% for mistake in trade.mistakes %}
                    <span class="badge bg-danger">{{ mistake.name }}</span>
                    {% endfor %}
                </span>
            </li>
            {% if trade.volume != 0 %}
            <li class="list-group-item d-flex justify-content-between">
                <span>Open Contracts</span>
                <span class="text-end">{{ trade.volume }}</span>
            </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-between">
                <span>Avg Entry Price</span>
                <span class="text-end">${{ trade.avg_entry }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Adjusted Cost</span>
                <span class="text-end">${{ trade.adjusted_cost }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Adjusted Proceeds</span>
                <span class="text-end">${{ trade.adjusted_proceeds }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Time in Trade</span>
                <span class="text-end">{{ trade.time_in_trade }} minutes</span>
            </li>

        </ul>
    </div>
    <div class="col-lg">
        <div class="card">
            <div class="card-body">
                <form action="{{ url_for('trades_bp.update_trade_notes', trade_id=trade.id) }}" method="POST">
                    <div class="mb-3">
                        {{ form.hidden_tag() }}
                        <label for="trade_notes" class="form-label">Trade Notes</label>
                        <textarea id="trade_notes" name="trade_notes" class="form-control darkly-textarea" rows="15"
                            cols="50">{{ trade.trade_notes }}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">Save Notes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>Action</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Adjusted Cost</th>
                        <th>Adjusted Proceed</th>
                        <th>Gross P&amp;L</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in trade.orders %}
                    <tr>
                        <td>{{ order.formatted_date_time }}</td>
                        <td>
                            {% if order.is_buy_order %}
                            <span class="badge bg-success">Buy</span> <!-- Green badge for Buy -->
                            {% elif order.is_sell_order %}
                            <span class="badge bg-danger">Sell</span> <!-- Red badge for Sell -->
                            {% endif %}
                        </td>
                        <td>{{ order.quantity }}</td>
                        <td>${{ order.price }}</td>
                        <td>{% if order.is_buy_order %}${{ order.adjusted_cost }}{% else %}--{% endif %}</td>
                        <td>{% if order.is_sell_order %}${{ order.adjusted_proceeds }}{% else %}--{% endif %}</td>
                        <td>
                            {% if order.is_sell_order %}
                            {% if order.gross_pnl %}
                            <span class="{% if order.gross_pnl >= 0 %}text-success{% else %}text-danger{% endif %}">${{
                                order.gross_pnl }}</span>
                            {% else %}
                            --
                            {% endif %}
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        <td>
                            <span class="icon-wrapper">
                                <i class="oi oi-pencil text-primary edit-order-btn" data-order-id="{{ order.id }}"
                                    data-date-time="{{ order.date_time.strftime('%Y-%m-%dT%H:%M') }}"
                                    data-action="{{ order.action }}" data-price="{{ order.price }}"
                                    data-quantity="{{ order.quantity }}" data-bs-toggle="modal"
                                    data-bs-target="#editOrderModal{{ order.id }}"></i>
                                <i class="oi oi-trash text-danger delete-trade-icon" data-trade-id="{{ order.id }}"
                                    data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ order.id }}"></i>
                            </span>
                        </td>
                        <td>

                        </td>
                        <!-- Confirm Delete Modal -->
                        <div class="modal fade" id="confirmDeleteModal{{ order.id }}" tabindex="-1"
                            aria-labelledby="confirmDeleteModalLabel{{ order.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteModalLabel{{ order.id }}">Confirm
                                            Delete
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this order?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <form action="{{ url_for('trades_bp.delete_order', order_id=order.id) }}"
                                            method="POST">
                                            {{ form.hidden_tag() }}
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Edit Order Modal -->
                        <div class="modal fade" id="editOrderModal{{ order.id }}" tabindex="-1"
                            aria-labelledby="editOrderModalLabel{{ order.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editOrderModalLabel{{ order.id }}">Edit Order
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="editOrderForm"
                                            action="{{ url_for('trades_bp.update_order', order_id=order.id) }}"
                                            method="POST">
                                            {{ form.hidden_tag() }}
                                            <div class="mb-3">
                                                {{ form.date_time.label }}
                                                {{ form.date_time(class_='form-control date-time-picker',
                                                id='edit-date-time') }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form.price.label }} {{ form.price(size=10, class_='form-control',
                                                id='edit-price') }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form.action.label }}
                                                {{ form.action(class_="form-control", id='edit-action') }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form.quantity.label }} {{ form.quantity(size=10,
                                                class_='form-control', id='edit-quantity') }}
                                            </div>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Collapsible form for adding a new order -->
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#addOrderForm"
            aria-expanded="false" aria-controls="addOrderForm">
            Add Order <i class="bi bi-plus"></i>
        </button>
        <div class="collapse" id="addOrderForm">
            <div class="card card-body">
                <form method="POST" action="{{ url_for('trades_bp.add_order', trade_id=trade.id) }}"
                    onsubmit="return validateForm()">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.date_time.label }}
                        {{ form.date_time(class_='form-control date-time-picker') }}
                    </div>
                    <div class="mb-3">
                        {{ form.price.label }} {{ form.price(size=10, class_='form-control', id='price-input') }}
                        <div id="price-error" class="error-message text-danger"></div>
                    </div>
                    <div class="mb-3">
                        {{ form.action.label }}
                        {{ form.action(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.quantity.label }} {{ form.quantity(size=10, class_='form-control', id='quantity-input')
                        }}
                        <div id="quantity-error" class="error-message text-danger"></div>
                    </div>

                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div class="row align-items-start mb-2">
            <div class="col">
                <h4>Images</h4>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadImageModal">
                    <span class="bi bi-plus"></span>
                </button>
            </div>
            <!-- Modal for uploading a image -->
            <div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog"
                aria-labelledby="uploadImageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadImageModalLabel">Upload new image</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('trades_bp.upload_image', trade_id=trade.id) }}" method="POST"
                                enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <div class="mb-3">
                                    <input type="file" id="image" name="image" accept="image/*" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if trade.images %}
        <div class="row">
            {% for image in trade.images %}
            <div class="col-md-4">
                <a data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-img-src="{{image.filename}}"
                    data-bs-img-alt="Image 1">
                    <img src="{{image.filename}}" alt="Image 1" class="img-thumbnail mb-2">
                </a>
                <i class="oi oi-trash text-danger delete-trade-icon" data-image-id="{{ image.id }}"
                    data-bs-toggle="modal" data-bs-target="#confirmDeleteImageModal{{ image.id }}"></i>
            </div>
            <!-- Confirm Delete Modal -->
            <div class="modal fade" id="confirmDeleteImageModal{{image.id}}" tabindex="-1"
                aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this image?</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('trades_bp.delete_image', image_id=image.id) }}" method="POST">
                                {{ form.hidden_tag() }}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
        {% else %}
        <h6>No images found, please upload some</h6>
        {%endif%}
    </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<br>
<script src="{{ url_for('static', filename='js/add_order_validation.js') }}"></script>

<script>
    var deleteForm = document.querySelector('#imageModal form');
    var imagePathInput = document.querySelector('#imagePath');

    imageModal.addEventListener('show.bs.modal', function (event) {
        var triggerElement = event.relatedTarget;
        var imageSrc = triggerElement.getAttribute('data-bs-img-src');
        var imageAlt = triggerElement.getAttribute('data-bs-img-alt');
        var imagePath = triggerElement.getAttribute('data-bs-img-path');

        var modalImage = imageModal.querySelector('#modalImage');
        modalImage.src = imageSrc;
        modalImage.alt = imageAlt;

        imagePathInput.value = imagePath;
    });

    deleteForm.addEventListener('submit', function (event) {
        var confirmation = confirm('Are you sure you want to delete this image?');
        if (!confirmation) {
            event.preventDefault();
        }
    });
</script>
<script>
    flatpickr('.date-time-picker', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",  // Adjust the date and time format
        time_24hr: true,
        defaultDate: "today",
        defaultHour: new Date().getHours(),
        allowInput: true,
    });
</script>
<script>
    $(document).ready(function () {
        // When the edit order modal is opened, populate the form fields with the existing data
        $('.edit-order-btn').click(function () {
            var order_id = $(this).data('order-id');
            var date_time = $(this).data("date-time").replace("T", " ");
            var action = $(this).closest("tr").find(".badge").text();
            var price = $(this).data('price');
            var quantity = $(this).data('quantity');

            var modalSelector = '#editOrderModal' + order_id; // Unique modal selector

            $(modalSelector).modal('show');
            $(modalSelector + ' #edit-date-time').val(date_time);
            $(modalSelector + ' #edit-action').val(action);
            $(modalSelector + ' #edit-price').val(price);
            $(modalSelector + ' #edit-quantity').val(Math.abs(quantity));

        });
    });

</script>
{% endblock %}