<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Trade Journal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
    {% include 'html_dependencies.html' %}
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-md fixed-top bg-dark d-md-none" data-bs-theme="dark">
            <div class="container-fluid">
                <!-- Navbar content -->
                <a class="navbar-brand"
                    href="{{ url_for('trades_bp.dashboard', portfolio_id=session.get('selected_portfolio_id', 0)) }}">Trade
                    Journal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavbar"
                    aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mobileNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('trades_bp.new_trade')}}">Add Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('trades_bp.dashboard', portfolio_id=session.get('selected_portfolio_id', 0)) }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('trades_bp.open_trades', portfolio_id=session.get('selected_portfolio_id', 0)) }}">Open
                                Trades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('trades_bp.daily_journal', portfolio_id=session.get('selected_portfolio_id', 0)) }}">Daily
                                Journal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('trades_bp.trade_log', portfolio_id=session.get('selected_portfolio_id', 0)) }}">Trade
                                Log</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-none d-sm-block d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="{{ url_for('trades_bp.dashboard', portfolio_id=session.get('selected_portfolio_id', 0)) }}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-4">Trade Journal</span>
            </a>
            <br>
            <div class="text-center">
                <a href="{{ url_for('trades_bp.new_trade')}}" class="btn btn-primary btn-small" style="width: 75%;">Add
                    Trade</a>
            </div>
            <br>
            <ul class=" list-unstyled ps-0 flex-column mb-auto">
                <li class="nav-item mb-3">
                    <a href="{{ url_for('trades_bp.dashboard', portfolio_id=session.get('selected_portfolio_id', 0)) }}"
                        class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home" />
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="{{ url_for('trades_bp.open_trades', portfolio_id=session.get('selected_portfolio_id', 0)) }}"
                        class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home" />
                        </svg>
                        Open Trades
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="{{ url_for('trades_bp.daily_journal', portfolio_id=session.get('selected_portfolio_id', 0)) }}"
                        class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home" />
                        </svg>
                        Daily Journal
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="{{ url_for('trades_bp.trade_log', portfolio_id=session.get('selected_portfolio_id', 0)) }}"
                        class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home" />
                        </svg>
                        Trade Log
                    </a>
                </li>
            </ul>
            {% if current_user.is_anonymous %}
            {% else %}
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
                    <strong>{{current_user.email}}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="{{ url_for('default_bp.settings') }}">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('auth_bp.logout') }}">Sign out</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="b-example-divider d-none d-sm-block"></div>
        <!-- Main content area -->
        <div class="content">
            <div class="mobile-padding">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const alerts = document.querySelectorAll('.alert-dismissible.fade.show');

                        alerts.forEach((alert) => {
                            setTimeout(() => {
                                const closeButton = alert.querySelector('.btn-close');
                                closeButton.click();
                            }, 2500);
                        });
                    });
                </script>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>

</html>